/* html,
body {
  height: 100%;
  font-family: 'Cabin', sans-serif;
  background-color: #fff !important;
}

*/

.navbar-brand {
  font-weight: 400;
  font-size: 20px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  /* color: black !important; */
  /* color: #233463 !important; */
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.card-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.info-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.register-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.error-feedback {
  width: 100%;
}
