.navbar-brand {
  font-weight: 400;
  font-size: 20px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.card-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.info-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.mb-reset {
  margin-bottom: 0px !important;
}

.fonting {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.lightbg {
  background-color: rgba(234, 234, 234, 0.4) !important;
}

.form-style {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.nav-pills .nav-item .nav-link.active {
  background-color: black;
}

.edits {
  position: absolute;
  top: 0px;
  right: 20px;
}

.edit-buttons {
  display: flex;
  justify-content: center;
}

.card-profile .card-footer .btn.btn-just-icon {
  padding: 0px !important;
}
