.navbar-brand {
  font-weight: 400;
  font-size: 20px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.card-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.info-title {
  font-family: 'Averta', 'Helvetica Neue', 'Open Sans', Arial, sans-serif !important;
}

.mb-reset {
  margin-bottom: 0px !important;
}
